div.about {
  animation: makeVisible 0.5s linear both;
}

div.about h1 {
  color: var(--h1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  text-shadow: -1px 0 4px var(--bgc), 0 1px 4px var(--bgc), 1px 0 4px var(--bgc),
    0 -1px 4px var(--bgc), 4px 4px 3px var(--shadow), 6px 6px 6px var(--h2);
}

div.about .left,
div.about .right {
  /* background-color: darkred; */
}

div.about .left {
  display: flex;
}

div.about p,
div.about ul.technologies li {
  color: #aaa;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.5px;
}

div.about .left p {
  /* padding-right: 25px; */
  flex-basis: 50%;
}

div.about .left>p:nth-child(1) {
  animation: makeVisible 0.5s linear both;
}

div.about .left .hobbies {
  flex-basis: 50%;
  /* background-color: green; */
  position: relative;
  animation: makeVisible 0.5s linear both;
}

div.about .left .hobbies div {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  /* outline: 2px solid white; */
  /* box-shadow: 0 0 0 3px black; */
  height: 46.1%;
  width: 46.1%;
  transition: 0.6s, background-size 1s 0.3s;
  z-index: 0;
}

div.about .left .hobbies p {
  margin-top: -15px;
}

div.about .left .hobbies div p {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 0 4px black;
  /* margin-top: 50%; */
  padding: 4%;
  cursor: default;
  transition: 0.6s 0.5s;
  /* height: 100%; */
  top: 80%;
  left: 0;
  right: 0;

  transform: translateY(-50%);
}

div.about .left .hobbies div:nth-of-type(1) {
  top: 4%;
  left: 4%;
  background-image: url(../images/hobby1.jpg);
}

div.about .left .hobbies div:nth-of-type(2) {
  top: 4%;
  right: 4%;
  background-image: url(../images/hobby2.jpg);
}

div.about .left .hobbies div:nth-of-type(3) {
  bottom: 4%;
  left: 4%;
  background-image: url(../images/hobby3.jpg);
}

div.about .left .hobbies div:nth-of-type(4) {
  bottom: 4%;
  right: 4%;
  background-image: url(../images/hobby4.jpg);
}

div.about .left .hobbies div:nth-of-type(1):hover,
div.about .left .hobbies div:nth-of-type(2):hover,
div.about .left .hobbies div:nth-of-type(3):hover,
div.about .left .hobbies div:nth-of-type(4):hover {
  z-index: 1;
  height: 82%;
  width: 82%;
  /* background-size: 130%; */
  transition-delay: .2s;
}

div.about .left .hobbies div:nth-of-type(1):hover p,
div.about .left .hobbies div:nth-of-type(2):hover p,
div.about .left .hobbies div:nth-of-type(3):hover p,
div.about .left .hobbies div:nth-of-type(4):hover p {
  opacity: 1;
}

/* DIV RIGHT: */
div.about .right {
  position: relative;
  animation: makeVisible 0.5s linear both;
}

div.about div.container {
  padding-top: 4%;
  margin-left: 50%;
}

div.about div.logos {
  top: 20%;
  left: 5%;
  position: fixed;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  animation: spin 15s infinite linear;
  transition: 0.6s;
}

div.about div.logos::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 500px 120px #cbe2ee;
  z-index: -1;
}

div.about div.logos:hover,
div.about div.logos:hover img {
  animation-play-state: paused;
}


div.about div.logos img {
  position: absolute;
  width: 8vw;
  animation: spin 15s infinite reverse linear;
  /* box-shadow: 0 0 100px 1px white; */
}

div.about div.logos img:nth-of-type(1) {
  top: 3vw;
  left: 3vw;
}

div.about div.logos img:nth-of-type(2) {
  top: 3vw;
  right: 3vw;
}

div.about div.logos img:nth-of-type(3) {
  bottom: 3vw;
  right: 3vw;
}

div.about div.logos img:nth-of-type(4) {
  bottom: 3vw;
  left: 3vw;
}

div.about div.logos img:nth-of-type(5) {
  top: 15vw;
  left: 15vw;
  transform: translate(-50%, -50%) scale(1.5);
  animation: none;
}

div.about ul.technologies li {
  text-align: left;
  margin-left: 80px;
}

div.about ul.technologies {
  margin-top: 20px;
  /* list-style: none; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}