div.app {
  /* height: calc(100vh - 56px); */
  /* width: 100vw; */
  background-image: url(../images/stars.png);
  background-color: var(--bgc);
  background-size: 7%;
  position: relative;
  /* overflow: hidden; */
  /* overflow potem dać */
}

main {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 10%;
  /* background-color: darkred; */
  /* border: 2px solid black; */
}

nav {
  position: absolute;
  top: 50%;
  right: 0;
  /* left moze tak, moze nie. zobaczymy */
  transform: translateY(-50%);
}