div.contact {
  animation: makeVisible 0.5s linear both;
  height: 100%;
  /* overflow: hidden; */
  margin-top: 3vh;
}

div.contact h1 {
  color: var(--h1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px 20px;
  text-shadow: -1px 0 4px var(--bgc), 0 1px 4px var(--bgc), 1px 0 4px var(--bgc),
    0 -1px 4px var(--bgc), 4px 4px 3px var(--shadow), 6px 6px 6px var(--h2);
}

div.contact .container {
  display: flex;
  height: calc(100% - 60px - 40px);
  /* 60px - font size of h1, 40px margin-bottom of h1 */
}

div.contact .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
  padding: 25px 5vw 0;
}

div.contact .info p {
  color: #aaa;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
}

div.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 3%;
}

div.contact input,
div.contact textarea {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;
  font-size: 15px;
  background-color: var(--h1);
}

div.contact input {
  height: 5vh;
}

div.contact textarea {
  /* height: 120px; */
  resize: vertical;
  flex-grow: 1;
  /* min-height: 10vh; */
  /* max-height: 20vh; */
}

div.contact form input:nth-last-child(1) {
  font-size: 20px;
  height: 7vh;
  background-color: black;
  background-color: var(--red);
  color: var(--h1);
  border: 1px solid var(--h1);
  cursor: pointer;
  transition: .3s;
}

div.contact form input:nth-last-child(1):hover {
  color: #111;
  background-color: var(--h1);
}

/* socials */
.contact .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.contact .socials a {
  color: var(--h1);
}

.contact .socials i {
  font-size: 30px;
  position: relative;
}

.contact .socials i:hover {
  animation: .3s pop;
}

.contact .socials i span {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  background-color: var(--h2);
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--h1);
  text-align: center;
  white-space: nowrap;
  border-radius: 6px;
  padding: 7px 0px;

  opacity: 0;
  transition: opacity .6s;
}

.contact .socials i:nth-of-type(1) span {
  width: 120px;
  margin-left: -60px;
}

.contact .socials i:nth-of-type(2) span {
  width: 240px;
  margin-left: -120px;
}

.contact .socials i span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--h2) transparent;
}

.contact .socials i:hover span {
  visibility: visible;
  opacity: 1;
}


.contact .socials i.fa-phone {
  color: #2eb887;
}

.contact .socials i.fa-envelope {
  color: #f7cf4a;
}

.contact .socials i.fa-linkedin {
  color: #0077b5;
}

.contact .socials i.fa-github {
  color: #ffffff;
}

.contact .socials i.fa-facebook-square {
  color: #4267b2;
}


/*---- */
div.contact .map {
  flex-basis: 50%;
  height: 100%;
}

div.contact .map p {
  color: var(--bgc);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;

}

/* MAP */

.mapboxgl-popup-content {
  background-color: var(--h1) !important;
}

.mapboxgl-popup-close-button {
  display: none;
  font-size: 20px;
}


@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}