* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: arial;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}