div.projects {
  animation: makeVisible 0.5s linear both;
  height: calc(95% - 40px);
  overflow: hidden;
}

div.projects h1 {
  color: var(--h1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  text-shadow: -1px 0 4px var(--bgc), 0 1px 4px var(--bgc), 1px 0 4px var(--bgc),
    0 -1px 4px var(--bgc), 4px 4px 3px var(--shadow), 6px 6px 6px var(--h2);
}

div.projects .container {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: var(--h1);
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: 0s;
  perspective: none;


  /* animation: makeVisible 0.5s linear both; */
  /* animation: shift 3s ease-in-out both infinite; */
}

div.projects .container.shift {
  transform: rotateY(-180deg);
  /* transition: .6s cubic-bezier(0, 1, 1, 0); */
  transition: .4s cubic-bezier(.61, 1, .36, 0);
}

div.projects .container.shift-left {
  transform: rotateY(180deg);
  /* transition: .6s cubic-bezier(0, 0, 0, 0.52); */
  /* transition: .8s cubic-bezier(.45, 1, .45, 0); */
  transition: .4s cubic-bezier(.45, 1, .45, 0);
}

div.projects .container.shift-left .content,
div.projects .container.shift .content {
  animation: card-flip 0s .2s both;
}

div.projects .container.shift-left a.photo-container,
div.projects .container.shift a.photo-container {
  /* order: 2; */
  animation: delay-order 0s .2s both, card-flip 0s .2s both;
}

div.projects .container a.photo-container {
  position: relative;
  display: block;
  width: 70%;
  height: 100%;
  /* box-shadow: 0 0 8px black; */
}

div.projects .container a>p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  text-align: center;
  /* text-shadow: 2px 2px 4px #222; */
  color: var(--h1);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  background-color: rgba(61, 61, 153, 0.4);
  opacity: 0;
  transition: .6s;
  box-shadow: 0 0 5px 1px rgba(61, 61, 153, 0.4);
}

div.projects .container a .triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7vw 7vw 0 0;
  border-color: rgba(61, 61, 153, 0.4) transparent transparent transparent;
}

div.projects .container a .triangle p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--h1);
  opacity: 0.8;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  /* top: -80px; */
  /* left: 15px; */
  top: -5.5vw;
  left: 1vw;
  transform: rotate(-45deg);
}

div.projects .container a:hover p {
  opacity: 1;
}

div.projects .container img {
  box-shadow: 0 0 8px black;
  object-fit: cover;
  object-position: 50% 0%;
  display: block;
  height: 100%;
  width: 100%;
}

div.projects .content {
  width: 50%;
  background-color: var(--h1);
  box-shadow: 0 0 20px black inset;

  /* transition-delay: .4s;   */
}

div.projects .content h2 {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--h2);
  text-align: center;
  margin: 20px 0 5px;
  text-shadow: 2px 2px 3px var(--shadow);
}

div.projects .content a {
  display: block;
  color: #666;
  text-decoration: none;
  font-size: 10px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  /* padding: 10px; */
}

div.projects .content a span {
  color: var(--shadow);
  font-weight: bold;
}

div.projects .content p {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  text-align: center;
  padding: 20px 10px;
  line-height: 20px;
  /* margin-top: 15px; */
  /* margin-left: 10%; */
}

div.projects .content .technologies {
  text-align: center;
  margin-top: 8px;
}

div.projects .content .technologies i,
div.projects .content .technologies em {
  display: inline-block;
  padding: 0 10px 0;
  font-size: 25px;
  transition: .3s;
}

div.projects .content .technologies em.t-icon-html5 {
  color: #e54c21;
}

div.projects .content .technologies em.t-icon-html5:hover {
  color: #cc3f18;
  animation: .4s pop;
}

div.projects .content .technologies em.t-icon-css3 {
  color: #0070b7;
}

div.projects .content .technologies em.t-icon-css3:hover {
  color: #005b95;
  animation: .4s pop;
}

div.projects .content .technologies em.t-icon-js {
  color: #f7e018;
}

div.projects .content .technologies em.t-icon-js:hover {
  color: #e5ce08;
  animation: .4s pop;
}

div.projects .content .technologies em.t-icon-php-alt {
  color: #777bb3;
}

div.projects .content .technologies em.t-icon-php-alt:hover {
  color: #6166a7;
  animation: .4s pop;
}

div.projects .content .technologies em.t-icon-mysql-alt {
  color: #01638a;
}

div.projects .content .technologies em.t-icon-mysql-alt:hover {
  color: #014b68;
  animation: .4s pop;
}

div.projects .content .technologies i.fa-react {
  color: #61dafb;
}

div.projects .content .technologies i.fa-react:hover {
  color: #40d2fa;
  animation: .4s pop;
}

/* arrows: */
div.projects .wrapper-for-arrows {
  position: relative;
  height: 60%;
  perspective: 800;
  margin-top: 6%;
}

div.projects .wrapper-for-arrows i.fas {
  position: absolute;
  top: 50%;
  left: 0;
  /* transform: translate(-50%, -50%); */
  transform: translateY(-50%);
  color: var(--h1);
  font-size: 60px;
  /* text-shadow: 0 0 4px black, 2px 2px 6px var(--h2); */
  text-shadow: 1px 1px 6px var(--h2), -1px 1px 6px var(--h2),
    1px -1px 6px var(--h2), -1px -1px 6px var(--h2);
  cursor: pointer;
}

div.projects .wrapper-for-arrows i.fas:nth-of-type(2) {
  left: auto;
  right: 0;
}



@keyframes shift {
  0% {
    transform: translateX(300%);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300%);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes card-flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes mirror {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(-1);
  }
}

@keyframes delay-order {
  0% {
    order: 0;
  }

  100% {
    order: 2;
  }

}