@font-face {
	font-family: "technology-icons";
	src: url("../font/technology-icons.eot");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "technology-icons";
	src: url("../font/technology-icons.eot");
	src: url("../font/technology-icons.eot?#iefix") format("embedded-opentype"),
		url("../font/technology-icons.woff") format("woff"),
		url("../font/technology-icons.ttf") format("truetype"),
		url("../font/technology-icons.svg?#technology-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}


[class^="t-icon-"]:before,
[class*=" t-icon-"]:before {
	font-family: "technology-icons";
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Icons */
.t-icon-aftereffects:before {
	content: "\f101";
}

.t-icon-bridge:before {
	content: "\f102";
}

.t-icon-dreamweaver:before {
	content: "\f103";
}

.t-icon-fireworks:before {
	content: "\f104";
}

.t-icon-flash:before {
	content: "\f105";
}

.t-icon-illustrator:before {
	content: "\f106";
}

.t-icon-indesign:before {
	content: "\f107";
}

.t-icon-lightroom:before {
	content: "\f108";
}

.t-icon-photoshop:before {
	content: "\f109";
}

.t-icon-cockpit:before {
	content: "\f10a";
}

.t-icon-drupal:before {
	content: "\f10b";
}

.t-icon-joomla:before {
	content: "\f10c";
}

.t-icon-magento:before {
	content: "\f10d";
}

.t-icon-october:before {
	content: "\f10e";
}

.t-icon-wordpress:before {
	content: "\f10f";
}

.t-icon-visual-studio:before {
	content: "\f110";
}

.t-icon-bootstrap:before {
	content: "\f111";
}

.t-icon-emmet:before {
	content: "\f112";
}

.t-icon-less:before {
	content: "\f113";
}

.t-icon-postcss:before {
	content: "\f114";
}

.t-icon-sass:before {
	content: "\f115";
}

.t-icon-cassandra:before {
	content: "\f116";
}

.t-icon-database:before {
	content: "\f117";
}

.t-icon-hadoop:before {
	content: "\f118";
}

.t-icon-mariadb:before {
	content: "\f119";
}

.t-icon-mongodb:before {
	content: "\f11a";
}

.t-icon-mysql-alt:before {
	content: "\f11b";
}

.t-icon-mysql:before {
	content: "\f11c";
}

.t-icon-postgres:before {
	content: "\f11d";
}

.t-icon-sql:before {
	content: "\f11e";
}

.t-icon-sublime:before {
	content: "\f11f";
}

.t-icon-express:before {
	content: "\f120";
}

.t-icon-grails:before {
	content: "\f121";
}

.t-icon-grailsalt:before {
	content: "\f122";
}

.t-icon-laravel-alt:before {
	content: "\f123";
}

.t-icon-laravel:before {
	content: "\f124";
}

.t-icon-phonegap:before {
	content: "\f125";
}

.t-icon-platter:before {
	content: "\f126";
}

.t-icon-playframework:before {
	content: "\f127";
}

.t-icon-rails-alt:before {
	content: "\f128";
}

.t-icon-rails:before {
	content: "\f129";
}

.t-icon-jira-alt:before {
	content: "\f12a";
}

.t-icon-jira:before {
	content: "\f12b";
}

.t-icon-angular:before {
	content: "\f12c";
}

.t-icon-backbone:before {
	content: "\f12d";
}

.t-icon-d3:before {
	content: "\f12e";
}

.t-icon-ember:before {
	content: "\f12f";
}

.t-icon-jquery-alt:before {
	content: "\f130";
}

.t-icon-jquery:before {
	content: "\f131";
}

.t-icon-react:before {
	content: "\f132";
}

.t-icon-c:before {
	content: "\f133";
}

.t-icon-cplusplus:before {
	content: "\f134";
}

.t-icon-csharp:before {
	content: "\f135";
}

.t-icon-haskell:before {
	content: "\f136";
}

.t-icon-java:before {
	content: "\f137";
}

.t-icon-nodejs:before {
	content: "\f138";
}

.t-icon-objectivec:before {
	content: "\f139";
}

.t-icon-perl:before {
	content: "\f13a";
}

.t-icon-php-alt:before {
	content: "\f13b";
}

.t-icon-php:before {
	content: "\f13c";
}

.t-icon-python:before {
	content: "\f13d";
}

.t-icon-ruby:before {
	content: "\f13e";
}

.t-icon-scala:before {
	content: "\f13f";
}

.t-icon-debian:before {
	content: "\f140";
}

.t-icon-fedora:before {
	content: "\f141";
}

.t-icon-freebsd:before {
	content: "\f142";
}

.t-icon-gnome:before {
	content: "\f143";
}

.t-icon-java-duke:before {
	content: "\f144";
}

.t-icon-kde:before {
	content: "\f145";
}

.t-icon-linux-mint:before {
	content: "\f146";
}

.t-icon-netbsd:before {
	content: "\f147";
}

.t-icon-rasbaerrypi:before {
	content: "\f148";
}

.t-icon-redhat:before {
	content: "\f149";
}

.t-icon-solaris:before {
	content: "\f14a";
}

.t-icon-suse:before {
	content: "\f14b";
}

.t-icon-ubuntu:before {
	content: "\f14c";
}

.t-icon-autoit:before {
	content: "\f14d";
}

.t-icon-browsersync:before {
	content: "\f14e";
}

.t-icon-confluence:before {
	content: "\f14f";
}

.t-icon-dynamicweb:before {
	content: "\f150";
}

.t-icon-babel:before {
	content: "\f151";
}

.t-icon-webpack:before {
	content: "\f152";
}

.t-icon-osx:before {
	content: "\f153";
}

.t-icon-codeignitor:before {
	content: "\f154";
}

.t-icon-composer:before {
	content: "\f155";
}

.t-icon-zend:before {
	content: "\f156";
}

.t-icon-apache:before {
	content: "\f157";
}

.t-icon-jetty:before {
	content: "\f158";
}

.t-icon-memcached:before {
	content: "\f159";
}

.t-icon-nginx-alt:before {
	content: "\f15a";
}

.t-icon-nginx:before {
	content: "\f15b";
}

.t-icon-redis:before {
	content: "\f15c";
}

.t-icon-tomcat:before {
	content: "\f15d";
}

.t-icon-ec3:before {
	content: "\f15e";
}

.t-icon-github-circle-alt:before {
	content: "\f15f";
}

.t-icon-github-circle:before {
	content: "\f160";
}

.t-icon-github:before {
	content: "\f161";
}

.t-icon-google-code:before {
	content: "\f162";
}

.t-icon-heroku:before {
	content: "\f163";
}

.t-icon-shell-alt:before {
	content: "\f164";
}

.t-icon-shell:before {
	content: "\f165";
}

.t-icon-shellscript:before {
	content: "\f166";
}

.t-icon-opensource:before {
	content: "\f167";
}

.t-icon-bower:before {
	content: "\f168";
}

.t-icon-grunt:before {
	content: "\f169";
}

.t-icon-gulp:before {
	content: "\f16a";
}

.t-icon-selenium:before {
	content: "\f16b";
}

.t-icon-git-squared:before {
	content: "\f16c";
}

.t-icon-git:before {
	content: "\f16d";
}

.t-icon-svn:before {
	content: "\f16e";
}

.t-icon-css-alt:before {
	content: "\f16f";
}

.t-icon-css3-alt:before {
	content: "\f170";
}

.t-icon-css3:before {
	content: "\f171";
}

.t-icon-html5:before {
	content: "\f172";
}

.t-icon-js:before {
	content: "\f173";
}